#credit img{
	height: 60px;
	width: 60px;
	border-radius: 30px;
}

#credit h4{
	color: #000;
}
.astro-dev a{
	color: #fff;
}
.astro-dev a:hover{
	text-decoration: none;
}

.astro-drop{
	width: 16px;
	height: 16px;
}