body{
	padding-top: 70px;
	background-color: #FFF;
}

.navbar-brand img{
	max-width: 50px;
}
.top-nav{
	padding:0 15px;
}
.top-nav li{
	display: inline-block;
	float: left;
}
.side-nav li a:hover{
	background-color: #000 !important;
}
.side-nav{
	background-color: #222;
	position: fixed;
	top: 51px;
	left: 225px;
	width: 225px;
	margin-left: -225px;
	overflow: auto;
	height: 100%;
}

.side-nav li{
	width: 225px;
}

.side-nav li a{
    padding: 15px 15px 15px;
	color: #999;
}
.side-nav li a:hover{
	background-color: #000 !important;
}

.content-wrapper{
	width: 100%;
	padding-left: 225px;
}

/*
|-------------------------------------------------------------------------
| Data pegawai
|-------------------------------------------------------------------------
*/
.dropdown-side{
	margin: 0;
	padding: 0;
}
.dropdown-side li{
	padding: 15px;
}
.dropdown-side li:hover{
	background-color: #000 !important;
}
.dropdown-side li a:hover{
	text-decoration: none;
}

/*
|-------------------------------------------------------------------------
| Pengaturan data pelatihan
|-------------------------------------------------------------------------
*/
.pengaturan_data_pegawai{
	height: 300px;
	overflow: auto;
}

/*
|-------------------------------------------------------------------------
| Button
|-------------------------------------------------------------------------
*/
.add-list{
  background-color: #5cb85c;
  color: #FFF !important;
}
.add-list:hover{
  background-color: #449d44 !important;
}
.circle{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	line-height: 30px;
}
.dropdown-update:hover{
  background-color: #5bc0de !important;
  color: #FFF !important;
}
.dropdown-delete:hover{
  background-color: #d9534f !important;
  color: #FFF !important;
}

.fixed-btn{
	position: fixed;
	z-index: 999;
}
.btn-right{
	right: 0px;
}
.btn-flat{
	border-radius: 0;
}
.btn-left-1{
	margin-top: 55px;
}

.btn-download{
	right: 75px;
}

/*
|-------------------------------------------------------------------------
| Alert
|-------------------------------------------------------------------------
*/
.alert-float {
  position: fixed;
  top: 47px;
  left: 0;
  right: 0;
  padding-left: 225px;
  z-index: 1000;
}
/*
|-------------------------------------------------------------------------
| Avatar
|-------------------------------------------------------------------------
*/
.avatar{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	margin: -23px 0;
}
.ava-form{
	margin: -10px 0;
}

/*
|-------------------------------------------------------------------------
| Form
|-------------------------------------------------------------------------
*/
.center-form{
	margin-bottom: 15px;
}

.search-data{
	margin: 15px 0;
}
/*
|-------------------------------------------------------------------------
| Paginate
|-------------------------------------------------------------------------
*/
.paginate-default .pagination{
	margin: 0;
}