body{
	padding-top: 90px;
	background-image: url('../images/bg.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.logo-bjb{
	margin-top: -70px;
	max-height: 170px;
}

h1{
	color: #FFF;
}
h4{
	color: #FFF;
}

.white{
	background-color: white;
}

.round-bottom{
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;  
}

.astro-dev{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #FFF;
}

.astro-dev img{
	height: 20px;
	width: 20px;
}